<!-- crear listado de contacto -->
<footer>
  <div class="contCreadoras">
    <ul>
      <p>Síguenos en nuestros perfiles:</p>
      <li class="angela">Ángela</li>
      <i class="fab fa-twitter-square"></i>
      |
      <i class="fab fa-github-square"></i>
      |
      <i class="fab fa-linkedin"></i>
      <li class="vane">Vanessa</li>
      <i class="fab fa-twitter-square"></i>
      |
      <i class="fab fa-github-square"></i>
      |
      <i class="fab fa-linkedin"></i>
      <li class="mairam">Mairam</li>
      <i class="fab fa-twitter-square"></i>
      |
      <i class="fab fa-github-square"></i>
      |
      <i class="fab fa-linkedin"></i>
    </ul>
  </div>

  <!--Copyrigth más la fecha y hora actual-->
  <div class="Copyright">
    <p>Copyright Shopéame © {{ fecha | date : "yyyy" }}</p>

    <nav class="fechaFooter">
      <p>Hoy es {{ fecha | date : "fullDate" }}</p>
    </nav>
  </div>
</footer>
