
<div class="fechaFooter">
    <nav>
        <p> hoy es; </p>
        {{ fecha | date: 'medium' }}
    </nav>
    <div class="contCreadoras">
        <p>
            Síguenos en nuestros perfiles:
        <li> Ángela </li>
        <i class="fa-brands fa-facebook"></i> |<i class="fa-brands fa-facebook"></i>| <i class="fa-brands fa-instagram"></i> | TikTok
        <li> Vanessa </li> 
            Twitter | Facebook | Instagram | TikTok
        <li> Mairam </li> 
            Twitter | Facebook | Instagram | TikTok
    </p>
</div>

</div>
