.container{
  display: flex;
  justify-content: space-between;
}
.product {
display: flexbox;
column-count:4;
column-gap: 3em;
column-rule: 2px solid #bbb;
border-spacing: 10px 5px;

}

img {
  height: 30%;
  width: 30%;

}

.rating{
  display:flex;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;

}

i{
  color: rgb(160, 160, 160);
  cursor: pointer;
}

.active{
  color:orange;
}