<app-producto></app-producto>
<app-vista></app-vista>

<div class="container">
    <h2>Lista de productos</h2>
</div>

<div class="product">
    <input type="text" #filtro (input)="filtrar(filtro.value)" placeholder="Buscador"/>
    <ul *ngFor="let product of filteredProduct">
        <img src="{{product.image}}" alt="{{product.name}}">
        <h4>{{product.id}}</h4>
        <h4>{{product.name}}</h4>
        <h4>{{product.description}}</h4>
        <h4>{{product.price}}</h4>
        <h4>{{product.stars}}</h4>
        <button routerLink="/productos/{{product.id}}">Ver más</button>
    </ul>
        
</div>

