<div class="container">
    <h2>Lista de productos</h2>
    <div class="vista-buttons-box">
        <button (click)="verCuadricula()">Cuadrícula</button>
        <button (click)="verLista()">Lista</button>
    </div>

    <section class="products-container">
    <input type="text" #filtro (input)="filtrar(filtro.value)" placeholder="Buscador"/>
    <ul>
        <li [ngClass]="{'product-card': cuadricula, 'product-card2': lista}" *ngFor="let product of filteredProduct">
            <img src="{{product.image}}" alt="{{product.name}}">
            <h3>{{product.name}}</h3>
            <div class="description-box">
                <p class="product-description">{{product.description}}</p>
            </div>
                <h4 class="product-price">{{product.price}} € </h4>
            <div class="stars-button-box">
            <p>{{product.stars}}</p>
            <button class = "primary-button" routerLink="/productos/{{product.id}}">Ver más</button>
            </div>
        </li>
    </ul>
        
</section>
</div>


<!-- <li [ngClass]="{'product-card': !lista, 'product-card2': lista}" *ngFor="let product of filteredProduct"> -->
