<div class="container">
  <div class="product-container">
    <div class="product-image">
      <img
        style="width: 400px"
        src="{{ product?.image }}"
        alt="{{ product?.name }}"
      />
    </div>
    <div class="product-info">
      <h3>{{ product?.name }}</h3>
      <p>{{ product?.description }}</p>
      <p class="product-price">{{ product?.price }}</p>
      <p>{{ product?.stars }}</p>
      <div class="product-buttons">
        <button routerLink="/productos">Back</button>
        <button (click)="removeItem()">Delete</button>
      </div>
    </div>
  </div>
</div>
