<header>
  <div class="header-container">
    <div class="logo">
      <h1>Smells</h1>
    </div>
    <nav class="menu-container">
      <div class="menu-button">
        <a routerLink="/">
          <i class="fas fa-home"></i>
          Home</a
        >
      </div>
      <div class="menu-button">
        <a routerLink="/productos">
          <i class="fas fa-gifts"></i>
          Fragances
        </a>
      </div>
      <div class="menu-button">
        <a routerLink="/gestion">
          <i class="fas fa-edit"></i>
          Management</a
        >
      </div>
    </nav>
  </div>
</header>
