<!-- espacio cabezera superior -->
<div class="containerLogo">
    <div class="logo">
        <h1> Smells </h1>
    </div>
</div>
    <!--espacio amarillo menú-->
<div class="menu">
        <div class="menuHome">
            <i class="fas fa-home"></i>
            <a routerLink="/"> Home </a>
        </div>

        <div class="menuProd">
            <i class="fas fa-gifts"></i>
            <a routerLink="/productos"> Productos </a>
        </div>
    
        <div class="menuGestion">
            <i class="fas fa-edit"></i>
            <a routerLink="/gestion"> Gestión </a>
        </div>
</div>


