<div> 
    <h2> Bienvenido a Shopéame</h2>
    <p>Este proyecto está realizado con Angular, es un trabajo grupal en el cual hemos potenciado nuestros conocimientos de Git.
       Hemos puesto en practica el flujo de trabajar en en equipo, la clonación de proyectos, creación de ramas, y la sincronización de las mismas.
       
       También hemos reforzado el conocimiento sobre funciones de Angular, 
       Hemos utilizado una API para obtenener los productos, La edición de un producto del Array adquirido mediante PUT.
    </p>
        <h2> Quien es Ángela </h2>

        <h2> Quien es Vanesa </h2>

        <h2> Quien es Mairam </h2>

</div>

