<div class="container">
  <section class="home-container">
    <div class="home-image-box">
      <h1>Lorem Ipsum dolor Sit Aemet</h1>
      <p class="subtitle">
        Sed accumsan lacus nisl, vitae placerat metus maximus eu.
      </p>
    </div>
  </section>
  <section class="home-container news">
    <div class="col-1-a">
      <article>
        <h2>Ut risus felis, iaculis bibendum</h2>
        <p>
          Aenean lacinia nec lectus vitae vulputate. Sed sed rutrum sapien.
          Donec volutpat non dolor a semper. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Pellentesque pharetra tortor in neque
          ultricies, euismod tempor neque volutpat. Curabitur euismod, mi eget
          ornare sodales, leo tellus elementum nisi, et finibus magna urna eu
          quam. In hac habitasse platea dictumst. Morbi mollis in risus non
          imperdiet. Quisque vel enim et purus scelerisque porta dignissim sit
          amet ligula. Aenean pulvinar quis metus vel accumsan. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Proin maximus leo sed posuere luctus. Aenean non ante non enim
          efficitur blandit in nec sapien. Morbi vitae diam posuere,
          sollicitudin lacus non, consectetur nulla.
        </p>
        <a class="home-a" routerLink="/productos/">What's new? <i class="fa-solid fa-arrow-right"></i></a>
      </article>
      <article>
        <h2>Ut risus felis, iaculis bibendum</h2>
        <p>
          Aenean lacinia nec lectus vitae vulputate. Sed sed rutrum sapien.
          Donec volutpat non dolor a semper. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Pellentesque pharetra tortor in neque
          ultricies, euismod tempor neque volutpat. Curabitur euismod, mi eget
          ornare sodales, leo tellus elementum nisi, et finibus magna urna eu
          quam. In hac habitasse platea dictumst. Morbi mollis in risus non
          imperdiet. Quisque vel enim et purus scelerisque porta dignissim sit
          amet ligula. Aenean pulvinar quis metus vel accumsan. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Proin maximus leo sed posuere luctus. Aenean non ante non enim
          efficitur blandit in nec sapien. Morbi vitae diam posuere,
          sollicitudin lacus non, consectetur nulla.
        </p>
        <a class="home-a" routerLink="/gestion/">Share your favorites <i class="fa-solid fa-arrow-right"></i></a>
      </article>
    </div>
    <div class="col-1-b">
        <img src="https://images.unsplash.com/photo-1613521140785-e85e427f8002?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
    </div>
  </section>
</div>

<!-- <div> 
    <h2> Bienvenido a Shopéame</h2>
    <p>Este proyecto está realizado con Angular, es un trabajo grupal en el cual hemos potenciado nuestros conocimientos de Git.
       Hemos puesto en practica el flujo de trabajar en en equipo, la clonación de proyectos, creación de ramas, y la sincronización de las mismas.
       
       También hemos reforzado el conocimiento sobre funciones de Angular, 
       Hemos utilizado una API para obtenener los productos, La edición de un producto del Array adquirido mediante PUT.
    </p>
        <h2> Quien es Ángela </h2>

        <h2> Quien es Vanesa </h2>

        <h2> Quien es Mairam </h2>

</div>
 -->
