<div class="container">
  <div class="container-form">
    <h2>Creación/edición de productos</h2>
    <div class="container-form-preview">
      <div class="gestion-form">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <label for="name">Enter a name:</label>
            <div class="row-input">
              <input
                id="name"
                type="text"
                formControlName="name"
                placeholder="Por ej: Tiesto para planta"
              />
              <div
                class="errores-form"
                *ngIf="
                  !productForm.get('name').valid &&
                  (productForm.get('name').dirty || submitted)
                "
              >
                <span
                  ><i class="fa fa-circle-exclamation"></i>¡Introduce un nombre
                  válido!</span
                >
              </div>
            </div>
          </fieldset>
          <fieldset>
            <label for="price">Price:</label>
            <div class="row-input">
              <input
                id="price"
                type="text"
                formControlName="price"
                placeholder="Por ej: 9.50"
              />
              <div
                class="errores-form"
                *ngIf="
                  !productForm.get('price').valid &&
                  (productForm.get('price').dirty || submitted)
                "
              >
                <span><i class="fa fa-circle-exclamation"></i>¡Introduce un precio válido!</span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <label for="description">What it smells like?</label>
            <div class="row-input">
              <input
                id="description"
                type="text"
                formControlName="description"
                placeholder="Por ej: Lo más vendido de este mes"
              />
              <div
                class="errores-form"
                *ngIf="
                  !productForm.get('description').valid &&
                  (productForm.get('description').dirty || submitted)
                "
              >
                <span><i class="fa fa-circle-exclamation"></i>¡Introduce una descripción válida!</span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <label for="image">Image URL:</label>
            <div class="row-input">
            <input
              id="image"
              formControlName="image"
              placeholder="Por ej: http://blabla.com/img.jpg"
            />
            <div
              class="errores-form"
              *ngIf="
                !productForm.get('image').valid &&
                (productForm.get('image').dirty || submitted)
              "
            >
              <span><i class="fa fa-circle-exclamation"></i>¡Introduce una URL!</span>
            </div>
            </div>
          </fieldset>
          <fieldset>
            <label for="stars">Rate from 1 to 5:</label>
            <div class="row-input">
            <input
              id="stars"
              formControlName="stars"
              placeholder="Introduce un número del 1 al 5"
            />
            <div
              class="errores-form"
              *ngIf="
                !productForm.get('stars').valid &&
                (productForm.get('stars').dirty || submitted)
              "
            >
              <span><i class="fa fa-circle-exclamation"></i>¡Introduce un número del 1 al 5!</span>
            </div>
            </div>
          </fieldset>
          <button type="submit" [disabled]="!productForm.valid">Enviar</button>
          <!--reset button??-->
        </form>
      </div>

      <!--SECCIÓN PARA LOS MENSAJES DE ERROR: Detalles de los errores más concretos.-->

      <div class="gestion-preview">
        <app-simulador [product]="newItem"></app-simulador>
      </div>
    </div>
  </div>
</div>
